

.title {
  flex: 1 1;
}

.sidebar {
  padding: 20px 0;

  .listItem {
    padding: 10px 70px 10px 30px;
    align-items: center;

    .listItemIcon {
      min-width: 30px;
    }

    .listItemText {
      margin-bottom: 0;
    }
  }
}
